body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background: #F2F4F5;
  color: #1E1E1F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: relative;
  min-height: 100vh;
}

.d-none {
  display: none;
}